@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');
// @import url('../slick/slick-theme.css');
// @import url('../slick/slick.css');
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
}

a {
    text-decoration: none;
}

// .container {
//     width: 100%;
// }
// .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    // border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    // overflow: hidden;
    max-width: 100%;
    // border: 1px solid green;

    &__list {
        display: flex;
        justify-content: space-around;
        // width: 100%;
        // border: 1px solid green;
        // border: 1px solid wheat;
    }

    &__list-item {
        display: flex;
        align-items: center;
        color: rgb(255, 251, 251);
        // border: 1px solid yellow;
    }

    &__a {
        background-image: linear-gradient(#fff, #fff);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }

    &__a:hover {
        background-size: 100% 2px;
    }

    &__a, &__p {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }

    .fa-instagram, .fa-phone, .fa-location-dot {
        font-size: 30px;
    }
}

.main {
    &__box {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        padding: 0 115px 0 115px;
        // border: 1px solid red;
    }

    &__logo-box {
        display: flex;
        font-size: 36px;
        font-weight: 700;
        font-style: italic;
        // border: 1px solid blue;
    }

    &__logo-text {
        display: flex;
        align-items: center;
        
        // border: 1px solid pink;
    }

    &__logo-a {
        color: #737373;
        margin-left: 15px;
    }

    &__logo-a:hover {
        background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }


    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        // border: 1px solid green;
    }

    &__content-text {
        // border: 1px solid red;
    }

    &__content-h1 {
        font-weight: 900;
        font-size: 50px;
        // border: 1px solid blue;
    }

    &__content-p {
        font-weight: 300;
        font-size: 24px;
    }

    &__content-btn {
        background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 15px 35px;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
    }

    &__content-img {
        // border: 1px solid blue;
    }
}

.info {
    // background-image: url('../img/fone.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    max-width: 100%;
    

    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        // border: 1px solid red;
        max-width: 100%;
    }

    &__h1 {
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 400;
        // border: 1px solid green;
    }

    &__h1-p {
        margin: 0 5px 0 5px;
        background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 344px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0 20px 244px 20px;
        box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
        z-index: 1;
    }

    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 349px;
        height: 234px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__img-1 {
        background-image: url('../img/reshotka.jpg');
    }
    &__img-2 {
        background-image: url('../img/plastina.jpg');
    }
    &__img-3 {
        background-image: url('../img/kover.jpg');
    }

    &__h2 {
        margin-left: 20px;
        font-weight: 700;
        font-size: 36px;
        background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__p {
        font-weight: 300;
        font-size: 14px;
        margin: 0 20px 20px 20px;
        color: #767676;
    }

    &__item-1 {
        position: relative;
    }
    &__item-1::before {
        content: "";
        position: absolute;
        background-image: url('../img/fone.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        width: 757px;
        height: 581px;
        left: -167px;
        z-index: 0;
    }
    .bw {
        z-index: 2;
        border-radius: 10px;
    }
}

.review {
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    // padding-top: 70px;
    padding-bottom: 20px;
    z-index: 0;
    max-width: 100%;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }

    &__box-item {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        padding-top: 70px;
    }

    &__item-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -35px;
        
        // border: 1px solid red;
    }

    // &__artem-img  {
    //     width: 95px;
    //     height: 106px;
    //     // border: 1px solid red;
    //     top: -5px;
    // }

    &__p1 {
        color: #737373;
    }
}

.footer {
    background-image: url('../img/backfooter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    padding-top: 172px;
    padding-bottom: 68px;
    padding-right: 100px;
    padding-left: 100px;
    // border: 1px solid red;

    &__container {
        display: flex;
        justify-content: space-around;
        // margin: 172px 0 68px 0;
        // border: 1px solid red;
    }
    
    &__box {
        display: flex;
        flex-direction: column;
    }

    &__box-h5 {
        font-size: 14px;
        font-weight: 700;
    }
    &__box-p {
        font-weight: 300;
        font-size: 14px;
    }

    &__box-img {
        max-width: 33px;
    }
}

.alert {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    align-self: center;
    top: 15%;
    background-color: #fff;
    background-image: url('../img/alertback.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 121%;
    // border: 1px solid red;
    max-width: 635px;
    max-height: 401px;
    border-radius: 15px;
    box-shadow: 0px 0px 35px rgba(75, 8, 33, 0.25);
    padding: 43px 101px 37px;
    z-index: 100;

    &__h1 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 21px;
    }

    &__input {
        width: 432px;
        border: 1px solid #A2A2A2;
        border-radius: 9px;
        height: 31px;
        margin-bottom: 21px;
        padding: 10px;
    }

    &__textarea {
        border: 1px solid #A2A2A2;
        border-radius: 9px;
        height: 85px;
        margin-bottom: 21px;
        padding: 10px;
    }

    &__textarea::placeholder, &__input::placeholder {
        font-weight: 300;
        font-size: 14px;
    }

    &__btn {
        background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
        border-radius: 9px;
        padding: 10px 30px;
        border: none;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
    }

    &__btn-cls {
        background: #fff;
        border: 2px solid gray;
        color: gray;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        padding: 10px 18px;
    }
    .main {
        &__logo {
            padding: 0 50px 0 50px;
        }
        &__content-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 70px;
            margin-top: -60px;
        }
        &__content-img {
            max-width: 368px;
        }
        &__content-h1 {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .info {
        &__cards {
            flex-direction: column;
        }
        &__item {
            max-width: 594px;
            margin-bottom: 50px;
            // height: 318px;
        }
        &__img {
            width: 594px;
            height: 180px;
        }
    }
    .footer {
        padding: 20px 10px 20px 10px;
    }
}

@media screen and (min-width: 279px) and (max-width: 767px) {
    .header {
        &__list {
            flex-direction: column;
        }
        &__list-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
        &__p {
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 500;
            font-size: 14px;
        }
        &__a {
            font-weight: 500;
            font-size: 17px;
        }

        &__city {
            font-weight: 300;
            padding: 10px 0px 10px 0;
        }
        
        .fa-solid, .fa-brands, &__a-del {
            display: none;
        }
    }

    .main {
        margin-top: 25px;

        &__logo {
            flex-direction: column;
        }
        &__logo-text {
            display: none;
        }
        &__logo-img {
            max-width: 60px;

        }
        &__logo-h1 {
            font-size: 18px;
        }
        &__content {
            background-size: 160%;
            background-position-x: 103%;
            background-position-y: -7%;
            padding-bottom: 45px;
        }
        &__content-img {
            display: none;
        }
        &__content-h1 {
            font-size: 25px;
            max-width: 194px;
            text-align: center;
        }
        &__br {
            display: none;
        }
        &__content-p {
            font-weight: 300;
            font-size: 20px;
            margin-left: 25px;
        }
        &__content-btn {
            font-size: 10px;
            padding: 9px 15px;
            margin-left: 54px;
            border-radius: 10px;
        }
    }
    
    .info {
        margin-top: 10px;

        &__h1 {
            font-weight: 400;
            font-size: 20px;
        }
        
        &__img {
            max-width: 264px;
            height: 182px;
        }
        &__item {
            margin-left: 67px;
            margin-bottom: 30px;
            max-width: 264px;
        }
        &__item-1::before {
            display: none;
        }
    }

    .review {
        padding-left: 10px;
        padding-right: 10px;

        &__box-item {
            max-width: 267px;
        }
        &__br {
            display: none;
        }
    }

    .footer {
        padding: 60px 40px ;

        &__container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__br {
            display: none;
        }
        &__box-h5 {
            font-weight: 700;
            font-size: 14px;
            width: 224px;
        }
        &__box-p {
            font-weight: 300;
            font-size: 14px;
        }
        &__box-pn {
            margin-bottom: 0;
        }
        &__box-ps {
            width: 224px;
            // border: 1px solid red;
        }
    }

    .alert {
        width: 267px;
        padding: 23px 11px 17px;

        &__input, &__textarea {
            max-width: 212px;
            border-radius: 15px;
        }
        &__input {
            max-height: 20px;
        }
        &__button-box {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // border: 1px solid red;
        }
        &__btn {
            padding: 5px 10px;
            font-weight: 400;
            font-size: 14px;
        }
        &__btn-cls {
            margin-left: 10px;
        }
    }
}