@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffbfb;
}
.header__a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(#fff, #fff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}
.header__a:hover {
  background-size: 100% 2px;
}
.header__a, .header__p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.header .fa-instagram, .header .fa-phone, .header .fa-location-dot {
  font-size: 30px;
}

.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 115px 0 115px;
}
.main__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
.main__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__logo-a {
  color: #737373;
  margin-left: 15px;
}
.main__logo-a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#B90160), to(#3D5BF5));
  background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__content-h1 {
  font-weight: 900;
  font-size: 50px;
}
.main__content-p {
  font-weight: 300;
  font-size: 24px;
}
.main__content-btn {
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 15px 35px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-weight: 400;
}
.info__h1-p {
  margin: 0 5px 0 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B90160), to(#3D5BF5));
  background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 344px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 20px 244px 20px;
  -webkit-box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
          box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
  z-index: 1;
}
.info__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.info__h2 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B90160), to(#3D5BF5));
  background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info__p {
  font-weight: 300;
  font-size: 14px;
  margin: 0 20px 20px 20px;
  color: #767676;
}
.info__item-1 {
  position: relative;
}
.info__item-1::before {
  content: "";
  position: absolute;
  background-image: url("../img/fone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 757px;
  height: 581px;
  left: -167px;
  z-index: 0;
}
.info .bw {
  z-index: 2;
  border-radius: 10px;
}

.review {
  background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
  padding-bottom: 20px;
  z-index: 0;
}
.review__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__box-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 70px;
}
.review__item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -35px;
}
.review__artem-img {
  width: 95px;
  height: 106px;
  top: -5px;
}
.review__p1 {
  color: #737373;
}

.footer {
  background-image: url("../img/backfooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  padding-top: 172px;
  padding-bottom: 68px;
  padding-right: 100px;
  padding-left: 100px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__box-img {
  max-width: 33px;
}

.alert {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  top: 15%;
  background-color: #fff;
  background-image: url("../img/alertback.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 121%;
  max-width: 635px;
  max-height: 401px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 35px rgba(75, 8, 33, 0.25);
          box-shadow: 0px 0px 35px rgba(75, 8, 33, 0.25);
  padding: 43px 101px 37px;
  z-index: 100;
}
.alert__h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 21px;
}
.alert__input {
  width: 432px;
  border: 1px solid #A2A2A2;
  border-radius: 9px;
  height: 31px;
  margin-bottom: 21px;
  padding: 10px;
}
.alert__textarea {
  border: 1px solid #A2A2A2;
  border-radius: 9px;
  height: 85px;
  margin-bottom: 21px;
  padding: 10px;
}
.alert__textarea::-webkit-input-placeholder, .alert__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
.alert__textarea:-ms-input-placeholder, .alert__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
.alert__textarea::-ms-input-placeholder, .alert__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
.alert__textarea::placeholder, .alert__input::placeholder {
  font-weight: 300;
  font-size: 14px;
}
.alert__btn {
  background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
  border-radius: 9px;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.alert__btn-cls {
  background: #fff;
  border: 2px solid gray;
  color: gray;
}
